.Menü, .Menü2,.Menü3, .Menü4 {
    float:left;
    margin-left: 12%;
    margin-top: 1%;
    font-size: 20px;
   
}

.Menüler {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 60px;
    background-color:black;
    color: aliceblue;
    font-family:"Clarendon Condensed";
    font-size: px;
    width: 99.90%;
  
}
.Foto1 {
    height: 60px;
    position: relative;right: 75%;
}
.Foto01 {
    height:60px;
 margin-left: 15.70%;
}

.Önerilenfilm2 {
  
  height: 70%;
  width: 101%;
  margin-top:-9%;
  border-style: solid;
  border-width: 5px;
border-color: black;
background-color: black;
margin-left: -1%;

}
.Ö1 {
    height: 90%;
   margin-top:1.75%;
   margin-left: 2%; 
   width: 18%;
}
.Ö2,.Ö3,.Ö4,.Ö5{
    height: 90%;
    margin-top:0%;
    margin-left:1%;
    width: 18%;
   
}
.Foto2{
 
    
   position: relative; 

   bottom:129px;
  left: 2px;  
  height: 17%;

  

}
 .Önerilenfilm  {
      height: 17%;
    margin-top: 1%;
position: relative; left:132px;;
  width: 100%;
  background-color: #1F0A0A;
  color: #e0e0e0;
  width: 90.90%;
 font-family:"Clarendon Condensed";
 font-size: 30px;
 }
 .ÖnerilenTiyatrolar {
    height: 17%;
    margin-top: 1%;
position: relative; left:;;
  width: 100%;
  background-color: #a0a0a0; *// açık gri 
  color: #e0e0e0;
  width: 99.90%;
 font-family:"Clarendon Condensed";
 font-size: 30px;

 }
  .p {
     Margin-left:5%;
 }
 .onerilentiyatro{
 height: 17%;
    margin-top: 1%;
  background-color: #F0F8FF;
  color: black;
  width: 101.50%;
 font-family:"Clarendon Condensed";
 font-size: 30px;
 margin-left: -0.75%;
 }
 .onerilentiyatro2{
     float: left;
     margin-top: 0%;
 }
 .onerilentiyatro img{
    height: 87%;
    float: left;
 }
 .Önerilenfilm2ana{
     clear: both;
     margin-bottom:-20px;
 }
 .Önerilenfilmler{
    float: left;
    margin-top: 3%;
 }
 .Önerilenfilmler img{
    height: 87%;
    float: left;
 }
 .TÖ1,.TÖ2,.TÖ3,.TÖ4,.TÖ5 {
    height: 90%;
    margin-top:2%;
    margin-left:3%;
    width: 16%;


 }
 
 
.Bilgiler {
    font: normal 21px/1 'gesta-l';
    color: black;
    padding: 3px 6px;
border-style: solid;
border-color:#e5e5e5;
border-width: 1px;
height: 3%;
width: 64%;
margin-top:1%; 
font-size: "Clarendon Condensed";
background-color: #e5e5e5;
}
.Bilgiler2 {
    font: normal 21px/1 'gesta-l';
    color: black;
    padding: 3px 6px;
    border-style: solid;
border-color:#e5e5e5;
border-width: 1px;
height: 15%;
width: 64%;
margin-top:0px; 
font-size: "Clarendon Condensed";
background-color: #e5e5e5;
}
.Bilgiler3 {
    font: normal 21px/1 'gesta-l';
    color: black;
    padding: 3px 6px;
border-style: solid;
border-color:#e5e5e5;
border-width: 1px;
height: 3%;
width: 64%;
margin-left:35%;
position: relative;top :-19%;
font-size: "Clarendon Condensed";
background-color: #e5e5e5;
}
.Bılgıler4 {
    font: normal 21px/1 'gesta-l';
    color: black;
    padding: 3px 6px;
    border-style: solid;
border-color:#e5e5e5;
border-width: 1px;
height: 15%;
width: 64%;
margin-top:-138px;
margin-left: 35%;
font-size: "Clarendon Condensed";
background-color: #e5e5e5
}
Body {
 background-color: #F0F8FF;
}
.İnstaface {
    border-style: solid;
    border-color: #e5e5e5;
    border-width: 2px;
    margin-top: -23px;
    background-color: #e5e5e5;
   
}
.İnsta,.Facebook {
    height:7%;
    margin-left: 2%;
    margin-top: -2%;
}
.Sosyal {
    font:  20px/1 'gesta-l';
    color: black;
    padding: 3px 6px;
margin-top: 1%;
font-size: "Clarendon Condensed";
margin-left: 50%;
}
.İnsta {
    margin-left: 83%;
}

  
footer {
    background:#333;
    width:100%;
    height:30%;
    margin-left:;
    display: flex;
    justify-content: flex-start;
    position: relative;
    top:0px;
  
  }
  
  footer ul {
    margin:1px 100px auto;
    border-left:1px solid #262626;
    padding:0 0 0 20px;
    height: 100%;
    position: relative; left: -7%;
  }
  
  footer ul li {
    list-style: none;
  }
  
  footer ul li a{
    color:#fff;
    text-decoration: none;
    font-size:12px;
    font-family:sans-serif;
    line-height:30px;
  }
  
  footer ul li a:hover{
    color:#fff;
    text-decoration: underline;
  }
 
    
    
    table, td, th {
        border: 2px solid #e5e5e5;
        margin-top: 0%;
    width: 20%;
    height: 58px;

    color: black;
    

    }

    table {
        border-collapse: collapse;
     float:right;

    }
    .Ana {
        color:black;
      text-decoration: none;
    margin-left:-30%;
    

    }
    .Sinemakatılım {
 
        color: black;
        font-size:35px;

background-color: #fff;
height: 20%;
padding-top:1%;
    }
    .Filmfoto {
        height:16%;
        float: left;
     
    }
    .Aquaman {
        float: left;
       margin-left: 20px;
       margin-top: 15px;
        
    }
    .Aquaman img{
        height:78%;
    }
.Filmler {
    background-color: black;
    border-style: solid;
    border-width: 4px;
    border-color: black;
    height:55.75%;
    width: 80%;
    position:absolute;z-index:2;
    
}
.Aquamanaçık{
    color: #fff;
}
.Venom{
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    
}
.Venom img{
    height: 30%px;
    width: 200px;
}
.Filmana {
    clear: both;
}
.Venomaçık  {
    color: #fff;
    padding: 0 00% 0 0px;
margin-left: 0%;
    margin-bottom: 14px;
}
.Avengers{
    float: left;
    margin-top: 15px;
    margin-left: 15px;
}
.Avengers img{
    height: 30%px;
    width: 200px;
}
.filmleryazi{
    float: left;
    font-size: 14px;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}
.Siyahkısım {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: black;
    height:41%;
    width: 100%;
    margin-top: 29%;
   
   
    
}
.F1,.F2 {
    height: 100%;
margin-left: 1%;
float:left;
margin-top: 0%;

}
.F3{
    height: 97%;
    margin-left;
    float:left;
}
.F4  {
    height: 93%;
    float:left;
    margin-left: 1%;
}
.Siyahkısım2 {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: black;
    height:43%;
    width: 100%;
    margin-top: 0%;}
    .F5 {
        height:90%;
        float:left;
       margin-top: 1%;
        margin-left: 1%;
        width: 15.50%;
     
    }
    .filmleryazi2{
        
        float: left;
        font-size: 14px;
        color: white;
        margin-top: 17px;
        margin-left: 10px
    }
    .F6  {
        height: 93%;
    float:left;
    margin-left: 0.10%;
    margin-top: 1%;

         }
         .F7 {
            height: 95%;
            float:left;
            margin-left: 0.10%;
            margin-top: 1%;
         }
         .Fotoo1 {
            height: 60px;
            position: relative;right: 77%;
         }
         .Foto001 {
            height:60px;
         margin-left: 13.95%;
        }
        .Fotooo1 {
            height: 60px;
            position: relative;right: 75%;
         }
         .Foto002 {
            height:60px;
         margin-left: 15.75%;
        }
        .F8 {
            width: 13.50%;
            float:left;
            height: 90%;
            margin-left: 1%;
            margin-top: 1%;
            
        }
        .F9 {
            height: 100%;
margin-left: 1%;
float:left;
margin-top: 0%

        }
        .Aquamankatıl {
            height: 50%;
            margin-top: 2%;
            margin-left: 15%;
        }
        .Aquamanbilgiler p {
            border-style: solid;
            border-color:  rgb(242, 243, 248);
            height: 5%;
            width: 35%;
            float:right;
            margin-right:49%;
            margin-top: 3%;
            background-color:  rgb(242, 243, 248);
            color:#172434;

        }
        .Aquamanbilgiler2 {
            border-style: solid;
            border-color: rgb(242, 243, 248);
color: #616161;
            height:23%;
            width: 35%;
            float:right;
            margin-right: 49%;
            margin-top: 0%;
            background-color:  rgb(242, 243, 248);
                }
                .Aquamanbilgiler01 p {
                    border-style: solid;
                    border-color:  rgb(242, 243, 248);
                    height: 5%;
                    width: 35%;
                    float:right;
                    margin-right:30%;
                    margin-top:-11%;
                    background-color:  rgb(242, 243, 248);
                    color:#172434;
        
                }
                .Aquamanbilgiler02 {
                    border-style: solid;
                    border-color: rgb(242, 243, 248);
        color: #616161;
                    height:23%;
                    width: 35%;
                    float:right;
                    margin-right: 30%;
                    margin-top: -7%;
                    background-color:  rgb(242, 243, 248);
                        }
                        .Aquamanoyuncular02{
                            margin-top: 10%;
                            margin-left:7%;
                        }
                .Aquamanfragman {
margin-top: 0%;
margin-left: 15%;

                }
                .Fotoyan {
                    float:right;
                    margin-right:  63%;
                    margin-top: 3%;
                }
                .Fotoyan01 {
                    float:right;
                    margin-right:  55%;
                    margin-top: 3%;
                }
                .Fotoyan2 {
                    float:right;
                    margin-right:  41%;
                    margin-top: -22%;
                    color: #0652DD;

                }
                .Fotoyan00002:hover {
                    text-decoration: underline;
                }
                .Fotoyan7{
                
                        float:right;
                        margin-right:  58%;
                        margin-top: -22%;
                        color: #0652DD;
                }
                .Fotoyan07 {
                    float:right;
                        margin-right:  49%;
                        margin-top: -22%;
                        color: #0652DD;
                }
                .Fotoyan70 {
                    float:right;
                        margin-right:  48%;
                        margin-top: -22%;
                        color: #0652DD;
                }
                .Fotoyan007 {
                    float:right;
                        margin-right:  51%;
                        margin-top: -22%;
                        color: #0652DD;
                }

                .Fotoyan3 {
                    float:right;
                    margin-right: 32%;
                    margin-top: -24%;
                    color: #4A4A4A;
                }
                .Fotoyan4 {
                    float:right;
                    margin-right: 31.60%;
                    margin-top: -22%;
                    color: #1B1B1B;
                    
                }
                .Fotoyan5 {
                    float:right;
                    margin-right: 34.90%;
                    margin-top: -20%;
                    color: #1B1B1B;

                }
             
                .Fotoyan6 {
                    float:right;
                    margin-right: 28%;
                    margin-top: -18%;
                    color: #0652DD;
                }
                .Fotoyan8{
                    float:right;
                    margin-right: 28%;
                    margin-top: -18%;
                    color: #0652DD;  
                }
                .Fotoyan008{
                    float:right;
                    margin-right: 23%;
                    margin-top: -18%;
                    color: #0652DD;  
                }
                .Fotoyan800 {
                    float:right;
                    margin-right: 41%;
                    margin-top: -18%;
                    color: #0652DD;   
                }
                .Fotoyan08{
                    float:right;
                    margin-right: 31%;
                    margin-top: -18%;
                    color: #0652DD; 
                }
                .Fotoyan80 {
                    float:right;
                    margin-right: 3%;
                    margin-top: -18%;
                    color: #0652DD; 
                }
                .Fotoyan9 {
                    float:right;
                    margin-right: 34%;
                    margin-top: -18%;
                    color: #0652DD; 
                }
                .Fotoyan0008{
                    float:right;
                    margin-right: 38%;
                    margin-top: -18%;
                    color: #0652DD; 
                }
                .Fotoyan00008{
                    float:right;
                    margin-right: 39%;
                    margin-top: -18%;
                    color: #0652DD; 
                }
                .Fotoyan04{
                    float:right;
                    margin-right: %;
                    margin-top: -18%;
                    color: #0652DD;  
                }
                .Fotoyan05 {
                    float:right;
                    margin-right: 41%;
                    margin-top: -20%;
                    color: #1B1B1B;
                }
                .Fotoyan04 {
                    float:right;
                    margin-right: 33.60%;
                    margin-top: -22%;
                    color: #1B1B1B;
                    
                }
                .Fotoyan03 {
                    float:right;
                    margin-right: 37%;
                    margin-top: -24%;
                    color: #4A4A4A;
                }
                .Fotoyan04:hover {
                    text-decoration: underline;
                }
                .Fotoyan8:hover {
                    text-decoration: underline;
                }
                .Filmuygunluk
                {
                   margin-left: 36%;
                   margin-top: -20%;
                }
                .Aquamanoyuncular {
                    margin-left: 20%;
                    margin-top: -8%;
                }
                .Aquamanoyuncular2 {
                    margin-left: 8%;
                    margin-top: -8%;}
                .Fotoyan:hover,.Fotoyan2:hover,.Fotoyan3:hover,.Fotoyan4:hover,.Fotoyan5:hover,.Fotoyan6:hover {
                    text-decoration:underline
                }
                .Yazı {
                    margin-left: 16%;
                    color: #1B1B1B;
                }
                .Yazı2 {
                    margin-left: 22%;
                    margin-top: -15%;
                   
                color: #0652DD;
          
                }
                .Oyuncular {
                    margin-left:0%;
                    font:50px; 
                    margin-bottom: 60%;
                }
                .Fotoyan06 {
                    float:right;
                    margin-right: 33%;
                    margin-top: -18%;
                    color: #0652DD;
                    
                }
                .Fotoyan06:hover {
                    text-decoration:underline
                }
                .Fotoyan02 {
                    float:right;
                    margin-right:  54%;
                    margin-top: -22%;
                    color: #0652DD;
                }
                .Fotoyan002 {
                    float:right;
                    margin-right:  57%;
                    margin-top: -22%;
                    color: #0652DD;
                }
                .Fotoyan004 {
                    float:right;
                    margin-right: 38.60%;
                    margin-top: -22%;
                    color: #1B1B1B;
                    
                }
                .Fotoyan0004 {
                    float:right;
                    margin-right: 36%;
                    margin-top: -22%;
                    color: #1B1B1B;
                    
                }
                .Fotoyan0002 {
                    float:right;
                    margin-right:  61%;
                    margin-top: -22%;
                    color: #0652DD; 
                }
                .Fotoyan006 {
                    float:right;
                    margin-right: 32%;
                    margin-top: -18%;
                    color: #0652DD; }
                    .Fotoyan006:hover {
                        text-decoration: underline;
                    }
                    .Fotoyan00002 {
                        float:right;
                        margin-right:  45%;
                        margin-top: -22%;
                        color: #0652DD;    
                    }