.Menü, .Menü2,.Menü3, .Menü4 {
    float:left;
    margin-left: 12%;
    margin-top: 2%;
    
   
}
.Menüler {
    border-style: solid;
    border-width: 2px;
    border-color:  #e0e0e0;
    height: 60px;
    background-color: black;
    color: aliceblue;
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: px;
}
.Foto1 {
    height: 60px;
    position: relative;right: 1022px;
}
.Önerilenfilm {
    margin-top: 1%;
    font-family:"Comic Sans MS", cursive, sans-serif;
 font-size: 30px;
    border-width: 2px;
    width: 99%;
    margin-left: 5%;
}

.Önerilenfilm2 {
  
  height: 450px;
  width: 99%;
  margin-top: -1%;

}
.Ö1 {
    height: 90%;
   margin-top:2%;
   margin-left: 1%; 
   width: 18%;
}
.Ö2,.Ö3,.Ö4,.Ö5{
    height: 90%;
    margin-top:2%;
    margin-left:1%;
    width: 18%;
}